/* NAVIGATION */


.navbar {
    background-color: #00583d;
}

/* LINKS */


a {
  color: #ffffff;
}
a:hover {
  color: #ff0fff;
}
icons i,.icons svg {
   color: #ffffff;
}




/* Social Media Links */


.fab{
    color: #ffffff; 
    -o-transition: all 0.2s ease-in-out 0.2s; 
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}


.fa-facebook:hover{
  color: blue;
}
.fa-tripadvisor:hover{
  color: green;
}
.fa-yelp:hover{
  color: red;
}
.fab:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

/* FOOTER */


P { text-align: center }
H1 { text-align: center }
.page-footer{
    background-color: #6f4e37;
}

/*  OVERFLOW CORRECTION */


.row{
  overflow: hidden;
}