/*--------- FONT STYLES ---------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



h1, h2, h3, h4, h5, h6, h7, h8{
    font-family: 'Roboto', sans-serif;
}

p, ol{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}



/*------------ NAV BAR------------ */


.navbar {
    background-color: #00583d;
}
/*------- Carousel style---------- */

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto 5px;
}

/* -----------LINKS------------- */


a {
  color: #ffffff;
}
a:hover {
  color: #ff0fff;



/*----------- Social Media Links-------------- */


}
icons i,.icons svg {
   color: #ffffff;
}

.fab{
    color: #ffffff; 
    -o-transition: all 0.2s ease-in-out 0.2s; 
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

.fa-facebook{
  color: #29b6f6;
}

.fa-tripadvisor{
  color: #66ff00;
}

.fa-yelp{
  color: #ff7043;
}


.fa-facebook:hover{
  color: blue;
}
.fa-tripadvisor:hover{
  color: green;
}
.fa-yelp:hover{
  color: red;
}
.fab:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
            transform: scale(1.5);
}

/*------------- FOOTER-------------------------- */


P { text-align: center }
H1 { text-align: center }
.page-footer{
    background-color: #6f4e37;
    color: #ffffff
}

/* BORDERS AND MARGINS */


.pagetop-pushdown{
  height: 60px;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.container
.container-fluid{
  width:99%;
}


/*---------- CENTER CONTENT-------------- */


div {
    justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.facilities {
  text-align: left;
  width: 40%;
  position: relative;
  left: 30%;
  
}
.facilities > ul {
  display: inline-block;
}


/*------------MEDIA QUERIES---------------*/


@media only screen and (min-width: 1200px) {
  .foooter-row {
    width: 100%;
    
  }
}